*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  /* m0 p0 */
}

div,header,main,footer,section {border: 1px solid black;}

body{ display: flex;
flex-direction: column;
/* 최소 높이 */
min-height: 100vh;}


/* 헤더 부분 */
header{
  height: 60px;

  display: flex;
}

/* 교차축(세로)방향 align-items : streatch; (기본값)
  설정 되어 있기 때문에 height : 100% 작성 안 해도 된다 */
.header-1{width: 100px;}
.header-2{width: 50px;}
.header-3{flex-grow: 1;}


/* 메인 부분 */
main{
  background-color: #ffdddd;

  /* 팽창 (기본값:0) */
  /* 나머지 item이 0, main 혼자 1, 혼자 늘어나서 남은 화면 다 채움 */
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.content-1 {height: 290px;}
.content-2 {height: 160px;}
.content-3 {flex-grow:1;}


/* 푸터 부분 */
footer{
  height: 100px;
}

footer>section{height: 50%;}